@use '../../utils/styles.variables' as styles;
@use '../UI/Button.module.scss' as buttonstyles;

.modal {
  box-sizing: border-box;

  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;

  z-index: 1000;
  overflow: auto;

  background-color: rgba(16, 13, 31, 0.945);
  padding: 8px;

  @media only screen and (max-width: styles.$mediumScreenSize) {
    padding: 8px 16px;
  }

  .menubar {
    display: flex;

    .close {
      @include buttonstyles.basebutton;

      margin-left: auto;
    }
  }

  .logo {
    opacity: 0.15;

    width: 50%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    z-index: -1;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    border-radius: 10%;
    height: 90%;
  }
  &::-webkit-scrollbar-thumb {
    background: #19193f;
  }
}
